frontend ollama-in-7012
  bind *:7012
  option http-server-close
  timeout client 900s
  default_backend ollama

backend ollama
  balance leastconn
  timeout server 900s
  option httpchk
  http-check connect
  http-check send meth GET uri /
  http-check expect status 200
  
  # haproxy will send each request to the server with the fewest active connections.
  # ties will go to the server listed first in the file, so put the fastest servers
  # at the top
  server-template hivesense-ollama 1 hivesense-ollama:11434 check
