global
  log stdout format raw local0 debug
  stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
  ca-base /etc/ssl/certs
  presetenv SYNC_BROADCAST_BACKEND_SERVER api.hive.blog
  presetenv SYNC_BROADCAST_BACKEND_PORT 443
  presetenv SYNC_BROADCAST_BACKEND_SSL ssl 
  # maxconn needs to be set to handle our maximum expected load.
  # Let's say we want to handle 10000 calls/second.
  # Most of our API calls will timeout after 3 seconds.  If we assume
  # the worst case, where all of the calls take the full 3 seconds, we
  # should expect 30000 calls in flight at any one time.  We'll round up
  # to 32768.  In reality, the vast majority of calls should be handled
  # in a few tens of milliseconds so this should be massive overkill.
  maxconn 32768

# DEFAULTS
# do not put a defaults section here, the defaults section is included
# from either the `mailer.cfg` or `no-mailer.cfg` files (only one of those
# files is included, which one depends on your setup).  Make any changes 
# to defaults in both of those files.

resolvers docker
  parse-resolv-conf
  timeout resolve 1s
  timeout retry   1s
  resolve_retries 1

  # Don’t cache negatives for long:
  hold nx       1s
  hold other    1s
  hold refused  1s
  hold timeout  1s
  hold valid    1s

frontend stats
  bind *:8000
  stats enable
  stats uri /admin/haproxy/
  stats refresh 10s
  stats admin if TRUE
  no log

frontend health
  bind 127.0.0.1:8001
  mode http
  http-request return status 200 if { src 127.0.0.0/8 }
  no log

####
#### Hive Frontends
####

frontend hived-in-7001
  bind *:7001
  option http-server-close
  default_backend hived

frontend hivemind-in-7002
  bind *:7002
  option http-server-close
  default_backend hivemind

frontend hafah-in-7003
  bind *:7003
  option http-server-close
  default_backend hafah

frontend balance-tracker-in-7004
  bind *:7004
  option http-server-close
  default_backend balance-tracker

frontend block-explorer-in-7005
  bind *:7005
  option http-server-close
  default_backend block-explorer

frontend sync-hived-in-7006
  bind *:7006
  option http-server-close
  default_backend sync-hived

frontend hafsql-in-7007
  bind *:7007
  option http-server-close
  default_backend hafsql

frontend hived-in-http-7008
  bind *:7008
  option http-server-close
  default_backend hived-http

frontend reputation-tracker-in-7009
  bind *:7009
  option http-server-close
  default_backend reputation-tracker

frontend hivesense-in-7011
  bind *:7011
  option http-server-close
  default_backend hivesense

frontend ollama-in-7012
  bind *:7012
  option http-server-close
  timeout client 900s
  default_backend ollama

frontend nft-tracker-in-7013
  bind *:7013
  option http-server-close
  default_backend nft-tracker

backend hived
  balance roundrobin
  server-template haf 1 haf:8090 check agent-check agent-addr haproxy-healthchecks agent-port 7001 agent-inter 10s

backend hived-http
  balance roundrobin
  server-template haf 1 haf:8091 check agent-check agent-addr haproxy-healthchecks agent-port 7001 agent-inter 10s

backend balance-tracker
  balance roundrobin
  # balance tracker doesn't have a cheap API method we can call, so test whether we can get
  # the OpenAPI JSON
  option httpchk
  http-check connect
  http-check send meth HEAD uri /
  http-check expect status 200
  timeout check 100
  server-template balance-tracker 1 balance-tracker-postgrest-rewriter:80 check agent-check agent-addr haproxy-healthchecks agent-port 7004 agent-inter 10s

backend reputation-tracker
  balance roundrobin
  option httpchk
  http-check connect
  http-check send meth GET uri /last-synced-block
  http-check expect status 200
  server-template reputation-tracker 1 reputation-tracker-postgrest-rewriter:80 check agent-check agent-addr haproxy-healthchecks agent-port 7009 agent-inter 10s

backend hafah
  balance roundrobin
  option httpchk
  http-check connect
  http-check send meth GET uri /version
  http-check expect status 200
  server-template hafah-postgrest 1 hafah-postgrest-rewriter:80 check agent-check agent-addr haproxy-healthchecks agent-port 7003 agent-inter 10s

backend hivemind
  balance roundrobin
  server-template hivemind 1 hivemind-postgrest-rewriter:80 check agent-check agent-addr haproxy-healthchecks agent-port 7002 agent-inter 10s

backend block-explorer
  balance roundrobin
  option httpchk
  http-check connect
  http-check send meth GET uri /last-synced-block
  http-check expect status 200
  server-template block-explorer 1 block-explorer-postgrest-rewriter:80 check agent-check agent-addr haproxy-healthchecks agent-port 7005 agent-inter 10s

backend hivesense
  balance roundrobin
  option httpchk
  http-check connect
  http-check send meth GET uri /
  http-check expect status 200
  server-template hivesense 1 hivesense-postgrest-rewriter:80 check agent-check agent-addr haproxy-healthchecks agent-port 7011 agent-inter 10s

backend ollama
  balance leastconn
  timeout server 900s
  option httpchk
  http-check connect
  http-check send meth GET uri /
  http-check expect status 200
  
  # haproxy will send each request to the server with the fewest active connections.
  # ties will go to the server listed first in the file, so put the fastest servers
  # at the top
  server-template hivesense-ollama 1 hivesense-ollama:11434 check

backend nft-tracker
  balance roundrobin
  option httpchk
  http-check connect
  http-check send meth GET uri /
  http-check expect status 200
  server-template nft-tracker 1 nft-tracker-postgrest-rewriter:80 check agent-check agent-addr haproxy-healthchecks agent-port 7013 agent-inter 10s

backend sync-hived
  balance roundrobin
  server-template sync-hived 1 "$SYNC_BROADCAST_BACKEND_SERVER":"$SYNC_BROADCAST_BACKEND_PORT" check "$SYNC_BROADCAST_BACKEND_SSL" ca-file ca-certificates.crt

backend hafsql
  server-template hafsql 1 hafsql:3000 check
